.teams {
	padding: 0 12rem;
	margin-bottom: 4rem;
}
.container {
	background-color: var(--color-white);
	margin-top: -6.5rem;
	position: relative;
	z-index: 999;
	padding: 2.5rem 4.5rem;
	padding-bottom: 4rem;
}
.teams h1 {
	font-size: 2rem;
	font-weight: 900;
	margin-bottom: 4rem;
}

@media screen and (max-width: 62.1875em) {
	.teams {
		padding: 0;
	}
	.container {
		margin-top: 0;
		padding: 2.5rem;
	}
	.teams h1 {
		margin-bottom: 2rem;
		font-size: 1.75rem;
		line-height: 1.75;
	}
}
