.latest {
	padding: 0 4rem;
	margin-bottom: 4rem;
}
.latest h3 {
	text-align: center;
	margin-bottom: 1.5rem;
	font-weight: 900;
	font-size: 1.5rem;
}

@media screen and (max-width: 93.75em) {
	.latest {
		padding: 0 2rem;
	}
}
@media screen and (max-width: 62.1875em) {
	.latest {
		padding: 0;
	}
}
