.footer {
	background-color: var(--color-white);
	height: 8rem;
	padding: 2rem 6rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.logo {
	display: flex;
	align-items: center;
	gap: 1rem;
}
.logo h1 {
	color: var(--color-primary);
}
.logo span {
	font-weight: 700;
	color: var(--color-dark);
}

.icons {
	display: flex;
	gap: 1rem;
	margin-bottom: 1rem;
}
.icons strong {
	color: var(--color-primary);
}

.icons span:not(.text) {
	background-color: var(--color-dark);
	width: 2rem;
	height: 2rem;
	padding: 0.65rem;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.icons span:not(.text):hover {
	transform: scale(1.05);
}
.text {
	font-size: 0.95rem;
	font-weight: 600;
}
.nav {
	display: flex;
	gap: 1rem;
	font-size: 0.75rem;
}

.nav a:not(:first-child) {
	color: var(--color-gray-1);
}

.nav a:hover {
	color: var(--color-gray-1);
}
.follow {
	display: flex;
}
.emphasize {
	color: var(--color-dark);
	font-weight: 700;
}

@media screen and (max-width: 62.1875em) {
	.footer {
		padding: 2rem 1rem;
	}
	.icons > span.text {
		display: none;
	}
}

@media screen and (max-width: 40.625em) {
	.footer {
		padding: 2rem 1rem;
		height: fit-content;
		flex-direction: column;
	}
	.logo {
		align-self: flex-start;
		gap: 0.25rem;
	}
	.logo h1 {
		font: 1rem;
	}
	.links {
		display: flex;
		flex-direction: column;
		flex: 2;
	}

	.icons > span.text {
		display: none;
	}

	.icons {
		order: 2;
		flex: 1;
	}
	.nav {
		order: 1;
		flex-direction: column;
		gap: 0.75rem;
		align-items: flex-end;
	}
}
